.Pregunta{
    display: flex;
    flex-direction:column;
    background-color: rgb(255, 255, 255);
    border:solid grey;
    width: 200px;
    height: 250;
    padding: 4px;
    margin: 20px;
}
.componente{
   display: flex;
}
.lider{
    width:750px;
    height: 300px;
    border: solid grey;
    text-align: center;
    margin-left: 20px;
}